/*header images colors:
#ffb02c - orange on house
#0092b0 - darker blue buildings
#02d3fe - blue sky
#00c48a - green plants
#8c8a7b - lighter building
#7f7a6f - darker building
#ff9300 - orange sun 1
#fe7920 - orange sun 2
#ff5c3a - orange/red sun 3
#fe3d49 - pink sun 4
#ff2a59 - pink sun 5
#fe2c6d - pink sun 6
#fbf001 - yellow name
*/
* {
    font-family: 'Lato', sans-serif;
}

h2 {
    font-family: 'Lobster', cursive;
}
body {
    background-color: #cebc00;
    margin: 0;
    padding: 0;

}

html {
    width: 100vw;
    margin: 0 !important;
    padding: 0 !important;
}

#header-image {
    width: 100%;
    height: auto;
}

#navbar {
    background-color: #0092b0;
    color: white;
    height: 50px;
    margin-bottom: 20px;
    border: 3px solid #8c8a7b;
}


#about-me, #connect {
    display: inline-block;
    border: 3px solid #8c8a7b;
    background: #b8c972;
    width: 100vw;
    padding: 10px;
    margin-bottom: 10px;
    /*height: 25vw;*/

}
#main-project {
    display: inline-block;
    border: 3px solid #8c8a7b;
    background: #b8c972;
    width: 100vw;
    padding: 10px;
    margin-bottom: 10px;


}
a:link {
    color: #0092b0;
}

a:visited {
    color: #8e3499;
}

a:hover {
    color: #ff9300;
}

a:active {
    color: #fe7920;
}

#weather-project, #coffee-project {

    display: inline-block;
    border: 3px solid #8c8a7b;
    background: #fffee8;
    width: 100%;
    /*height: 25vw;*/
    padding: 10px;

}

#weather-img, #coffee-img {
    width: 100%;
    height: auto;
}